@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;800&display=swap');

$clr-primary: #01b3a7;
$clr-secondary: #50ba70;
$clr-light: #FFFFF9;
$clr-dark: #162E44;
$clr-darker: #000000;
$clr-gray: #ABABAD;

$ff-primary: "Nunito", helvetica sans-serif;
$ff-secondary: "Arial", helvetica sans-serif;
$ff-third: "Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;

$breakpoints: (
  "xs": 0,
  "sm": 50rem,
  "md": 72rem,
  "lg": 96rem,
  "xl": 120rem,
);

$mobile: 500px;
$tablet: 644px;
$desktop: 97rem;

$grid-cols: 12;
$grid-gap: 1rem;

$shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

// 