@import "./01-variables";
@import "./02-resets";
@import "./03-base";
@import "./04-mixins";
@import "./05-grid";
@import "./06-utilities";

// LAYOUT FOLDER
@import "./layout/header";

// pages folder
@import "./pages/landing";

// components
@import "./components/btn";