.banner{
    // padding: 5rem 0;
    height: 85vh;
    &__wrapper{

        .banner__content{
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100vh;
            @include mediaQuery($desktop){
                height: 85vh;
            }
            .banner__pic{
                background-image: url("../img/banner-photo.jpg");
                background-position-x: -15rem;
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                height: 100vh;
                display: flex;
                align-items: center;
                @include mediaQuery($desktop){
                    background-position-x: unset;
                }
                .banner__all{
                    display: flex;
                    flex-direction: column;
                    .banner__text{
                        h5{
                            font-size: 2.5rem;
                            text-transform: uppercase;
                            color: #fff;
                            line-height: 1;
                            font-weight: 600;
                            @include mediaQuery($desktop){
                                font-size: 2rem;
                            }
                        }
                        h4{
                            font-size: 5rem;
                            color: #fff;
                            text-transform: capitalize;
                            margin: 1rem 0;
                            span{
                                color: #fff;
                                font-weight: 700;
                            }
                            @include mediaQuery($desktop){
                                font-size: 7rem;
                                letter-spacing: px;
                            }
                        }
                        &:nth-child(2){
                            font-size: 3.6rem;
                        }
                    }
                    .banner__btn{
                        margin-top: 2rem;
                        a{
                            font-size: 2rem;
                            color: #fff;
                            font-weight: 600;
                            transition: .3s ease-in-out;
                            position: relative;
                            z-index: 2;
                            &::after {
                                z-index: -1;
                                content: "";
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background: transparent;
                                transform: scaleX(0);
                                transform-origin: bottom right;
                                transition: transform 0.4s ease-out;
                            }
                        &:hover::after {
                                background: #01B3A7;
                                transform: scaleX(1);
                                transform-origin: bottom center;
                            }
                        }
                    }
                }
            }
        }
    }

    button{
        display: none;
    }
}

.tours{
    padding: 5rem 0;
    background-color: lighten(gray, 40);
    &__wrapper{
        padding: 5rem;
        margin-top: 15rem;
        display: flex;
        flex-direction: column;
        @include mediaQuery($desktop){
            flex-direction: row;
            margin-top: -15rem;
        }
        gap: 2rem;
        .tours__item{
            position: relative;
            overflow: hidden;
            
            img{
                transition: .3s ease-in-out;
                @include mediaQuery($desktop){
                    width: 40rem;
                }
            }
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
            &:last-child{
                img{
                    height: 455px;
                    object-fit: cover;
                }
            }
        }
        .tours__text{
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            background-image: linear-gradient(transparent, black);
            display: flex;
            align-items: end;
            justify-content: center;
            
            h4{
                color: #fff;
                font-size: 2.5rem;
                margin-bottom: 2rem;
                font-weight: 700;
            }
        }
    }

    &__action{
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 2rem;
        }
        h5{
            font-weight: 500;
        }
        span{
            width: 2rem;
            height: .2rem;
            background-color: black;
            display: block;
            transition: .3s ease-in-out;
            position: relative;
            &::after{
                right: -.3rem;
                top: -.2rem;
                position: absolute;
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 3px 0 3px 6px;
                border-color: transparent transparent transparent #151515;
            }
        }
        &:hover span{
            width: 5rem;
        }
    }
}
