.header{
    width: 100%;
    position: fixed;
    z-index: 999;
    box-shadow: 0 2px 2px rgb(194, 194, 194);
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header__right{
            display: flex;
            align-items: center;
            gap: 1rem;
            .toggle__menu{

                span{
                    width: 2.5rem;
                    height: .3rem;
                    background-color: black;
                    margin-bottom: .3rem;
                    display: block;
                    transition: .3s ease-in-out;
                }
                &.show{
                    span:first-child{
                        transform: translateY(.35rem) rotate(-18deg);
                        width: 1.5rem;
                    }
                    span:last-child{
                        transform: translateY(-.35rem) rotate(18deg);
                        width: 1.5rem;
                    }
                }
            }
    
            .branding{
                padding: 2rem;
            }

        }

        .header__nav{
            position: absolute;
            top: 6.5rem;
            background-color:#fff;
            width: 60%;
            left: -100rem;
            height: 100vh;
            transition: .3s ease-in-out;
            &__head{
                padding: 2rem;
                border-bottom: 1px solid gray;
                margin-bottom: 1.5rem;
                box-shadow: 0 2px 2px rgb(194, 194, 194) inset;
                ul{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    li{
                        margin-right: 1.3rem;
                        i{
                            font-size: 1.5rem;
                            transition: .4s ease-in-out;
                            &:hover{
                                color: #01B3A7;
                            }
                        }
                    }
                }
            }
            &__ul{

                ul{
                    li{
                        padding: 1.3rem;
                        margin-bottom: .5rem;
                        transition: .4s ease-in-out;
                        &:hover{
                            background-color: #01B3A7;
                        }
                        &:hover a{
                            color: #fff;
                        }
                        a{
                            display: flex;
                            justify-content: space-between;
                            
                        }
                    }
                }
            }
            &.show{
                left: 0;
            }
        }

        .toggle__side__menu{

            span{
                width: .7rem;
                height: .7rem;
                background-color: black;
                margin-bottom: .3rem;
                border-radius: 50%;
                display: block;
                transition: .2s ease-in-out;
            }
            &.swap span{
                &:first-child{
                    transform: translateY(2rem);
                }
                &:last-child{
                    transform: translateY(-2rem);
                }
            }
        }
        .header__sched{
            position: absolute;
            right: 0;
            top: 8rem;
            visibility: hidden;
            overflow: hidden;
            opacity: 0;
            padding: 2.5rem 2rem;
            transition: .5s ease-in-out;
            ul{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin: 1rem 0;
                li{
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                    i{
                        font-size: 2rem;
                    }
                    a{
                        transition: .4s ease-in-out;
                        &:hover{
                            color: #01B3A7;
                        }
                    }

                }
            }
            &__btn{
                text-align: center;
                margin-top: 4rem;
                a{
                    border: 2px solid #01B3A7;
                    padding: 1rem 3rem;
                    font-size: 2rem;
                    position: relative;
                    transition: .3s ease-in-out;
                    &::after {
                            z-index: -1;
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 212.15px;
                            height: 47px;
                            background: transparent;
                            transform: scaleX(0);
                            transform-origin: bottom right;
                            transition: transform 0.4s ease-out;
                            }
                            &:hover::after {
                                background: #01B3A7;
                                transform: scaleX(1);
                                transform-origin: bottom center;
                            }
                            &:hover{
                                color: #fff;
                            }
                }
            }
            &.show{
                visibility: visible;
                opacity: 1;
                top: 6.3rem;
            }
        }
    }
}


// @keyframes swaptoB {
//     from{
//         transform: translateY(1rem);
//     }
//     to{
//         transform: translateY(0);
//     }
// }
// @keyframes swaptoU {
//     from{
//         transform: translateY(-1rem);
//     }
//     to{
//         transform: translateY(0);
//     }
// }